@model FrontGestionParqueaderos.Models.Gestion
@{
    ViewData["Title"] = "Gestión";
}
<div class="container p-3 my-3 border" >
    <h4>¿Está Seguro que desea Eliminar este registro?</h4>

    <div class="row">
        <div class="col-sm-6">
            <hr />
            <form asp-action="Delete">
                <div class="form-group">
                    <input type="hidden" asp-for="IdRegistro" class="form-control" />
                </div>
                <br />
                <div class="form-group">
                    <a class="btn btn-outline-primary" asp-action="Index">Regresar</a> |
                    <a class="btn btn-outline-danger" asp-action="Eliminar" asp-route-IdRegistro ="@Model.IdRegistro">Eliminar</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}